@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background-color: #155263;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 150px;
  padding: 40px;
  background-color: black;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.hero {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 50px;
}

.wrapper-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-shadow: 5px 5px 10px rgba(49, 46, 46, 0.4);
}

.wrapper-text h1 {
  font-size: 62px;
  background: -webkit-linear-gradient(rgb(197, 180, 24), rgb(236, 218, 218));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper-text p {
  font-weight: bold;
  font-size: 40px;
  margin-top: 20px;
  background: -webkit-linear-gradient(rgb(236, 218, 218), rgb(197, 180, 24));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
