* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  padding: 40px;
  background-color: black;
}

.navbar a {
  color: white;
  text-decoration: none;
}
